<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Hoje tem <%= show %></p>
    <p><a href="/fale">Fale Conosco</a></p>
    <p><a href="/prod">Produtos</a></p>
  </body>
</html>
